@charset "UTF=8";

/* ーーーーーー　共通部分　ーーーーーー*/
html{
    font-size: calc(112.5% + 0.4vw);
    color: white;
    background-color:black;
}
body{
    line-height: 1.7;
    font-weight: 400;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
}
/* wrapper */
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}l
/* container */
.container {
    max-width: 1000px;
    margin: 0;
    padding: 0.4%;
}
/* header */
header .container {
    min-height: 60px;
    padding-top: 5px 5px;
    background-repeat: no-repeat;
    background-size: 53px;
    background-position: 16px 10px;
}

/* main */
main {
    min-height: calc(100% - 156px);
}main .container {
    margin: 0 auto;
}main .content {
    padding: 0 30px;
    text-align: center;
}
/* home */
.home-content {
    text-align: center;
    margin-top: 5%
}.home-content .wrapper p{
    margin-bottom: 0px;
}.home-content h1{
    font-size: 3rem;
}.home-content p{
    font-size: 1.5rem;
    margin: 10px 0 42px;
}
/* sub-content */
.sub-content{
    text-align: center;
    margin-top: 10%;
    }.sub-content h2{
    margin-top: 20px;
    }.sub-content a{
    color: white;
}
/*　大きな画像　*/
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}.page-title {
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: normal;
}#home{
    min-height: 100vh;
    background-image: url(../images/fuji.jpg);
}
/* about */
#about{
    background-image: url(../images/fuji.jpg);
    min-height: 100vh;
}.page-title{
    text-align: center;
}.wrapper li {
    list-style: circle inside;
}.item-title{
    margin-top: 5px;
}
/* contact */
#contact{
    background-image: url(../images/mail.jpg);
    min-height: 100vh;
}#contact .page-title{
    text-align: left;
}.form{
    text-align: left;
}.form div{
    margin-bottom: 14px;
}label{
    width: 480px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block ;
}input[type="text"], input[type="email"], textarea{
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}input[type="text"], input[type="email"]{
    width: 100%;
    max-width: 480px;
}input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}.button:hover {
    background: #0090aa;
}
/* aタグ */
a {
    color: #0bd;
    text-decoration: none;
}a:hover {
    color: #0090aa;
    text-decoration: underline;
}
/* media */
@media (max-width: 600px) {
    .page-title{
        font-size: 2rem;
    }
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
    }
    .home-content h1{
        font-size: 3rem;
    }.home-content p{
        font-size: 1.5rem;
        margin: 10px 0 42px;
    }
}