@charset "UTF=8";

/* ーーーーーー　共通部分　ーーーーーー*/
html{
    font-size: 100%;
    color: white;
    background-color:black;
}
body{
    line-height: 1.7;
    font-weight: 400;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}
.title-block{
    margin-left: 1px;
}
.home-content {
    text-align: center;
    margin-top: 5%
}
.home-content h1{
    font-size: 3rem;
}
.home-content p{
    font-size: 1.5rem;
    margin: 10px 0 42px;
}
.sub-content{
    text-align: center;
    margin-top: 10%;
    }
.sub-content h2{
    margin-top: 20px;
}
.sub-content a{
    color: white;
}

/*　大きな画像　*/
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.page-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: normal;
}
#home{
    min-height: 100vh;
    background-image: url(../images/fuji.jpg);
}
#home .page-title{
    text-transform: auto;
}
#contact{
    background-image: url(../images/mail.jpg);
    min-height: 100vh;
}
.form div{
    margin-bottom: 14px;
}
label{
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block ;
}
input[type="text"], input[type="email"], textarea{
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"], input[type="email"]{
    width: 100%;
    max-width: 480px;
}
textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}







.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}
@media (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
    }
}
header {
    background: rgba(255, 255, 255, .5);
}
header .container {
    min-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 76px;
    background-repeat: no-repeat;
    background-size: 53px;
    background-position: 16px 10px;
}
@media (min-width: 768px) {
    header .container {
        min-height: 100px;
        padding-left: 120px;
        background-size: 80px;
        background-position: 30px 20px;
    }
}
header .container h1,
header .container h2 {
    margin: 0;
    color: #fff;
    line-height: 1;
}
header .container h1 {
    padding: 15px 0 4px 0;
    border-bottom: 1px dotted #fff;
    font-size: 16px;
    font-weight: 500;
}
header .container h2 {
    padding: 5px 0 0 0;
    font-size: 10px;
    font-weight: 400;
}
@media (min-width: 768px) {
    header .container h1 {
        padding: 30px 0 5px 0;
        font-size: 24px;
    }
    header .container h2 {
        padding: 6px 0 0 0;
        font-size: 14px;
    }
}
main {
    min-height: calc(100% - 156px);
}
main .container {
    margin: 0 auto;
}
footer {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
footer .container {
    min-height: 50px;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
    font-size: 12px;
    text-align: right;
}
@media (min-width: 768px) {
    footer .container {
        min-height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
footer .container p {
    margin: 0;
}
a {
    color: #ed8a29;
    text-decoration: none;
}
a:hover {
    color: #ffb974;
    text-decoration: underline;
}
